.nav_content {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    min-height: 7vh;
    align-items: center;
    z-index: 2;
    background: transparent;
    margin-bottom: 2rem;
}

.left_nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.right_nav {
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-right: 1rem;
}

.search_box {
    width: 0;
    opacity: 0;
    transition: width 0.4s ease-in-out;
}

.search_box_expand {
    width: 300px;
    height: 3vh;
    opacity: 1;
    transition: all 0.4s ease-in-out;
}

.search_icon {
    padding-top: 4px;
}

.notification_bell {
    margin-left: 1rem;
}

.notification_bell:hover {
    animation: shake-bell 0.1s ease-in-out;
}

.notification_count {
    font-size: 15px;
    color: red;
}

.nav_router, .nav_brand  {
    cursor: pointer;    
    opacity: 0;
    filter: blur(3px);
    transform: translateX(-100%);
    transition: all 1s;
}

.nav_router {
    /* transition-delay: 250ms; */
}
.nav_router:hover {
    /* margin-left: 0.5rem; */
    transform: translateY(-5px);
    animation: burn-shake 3s infinite;
}

.nav_brand:hover {
    margin-left: 0.5rem;
    text-shadow: -5px -5px #2DFFFE, 5px 5px #FF3A2D;
    transition: 0.3s ease-out;
    animation: burn-shake 3s infinite;
}

.nav_show {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
}

.notification_container {
    position: absolute;
    width: 300px;
    border: 1px solid;
    right: 0;
    min-height: 50px;
}

.login_btn {
    margin-left: 1rem;
}

.login_btn:hover {
    color: #2DFFFE;
}
/* Animation Keyframe */
/* @keyframes burn-me {
    0% {
        text-shadow: -0px -0px hsl(252, 100%, 50%), 0px 0px hsl(358, 90%, 63%);
    }
    90% {
        text-shadow: -0px -0px hsl(252, 100%, 50%), 0px 0px hsl(358, 90%, 63%);
    }
    91% {
        text-shadow: -5px -5px hsl(252, 100%, 50%), 5px 5px hsl(358, 90%, 63%);
    }
    92% {
        text-shadow: -4px -1px hsl(252, 100%, 50%), 2px 1px hsl(358, 90%, 63%);
    }
    93% {
        text-shadow: -2px -1px hsl(252, 100%, 50%), 4px 7px hsl(358, 90%, 63%);
    }
    94% {
        text-shadow: 3px 1px hsl(252, 100%, 50%), 2px 3px hsl(358, 90%, 63%);
    }
    95% {
        text-shadow: -1px -3px hsl(252, 100%, 50%), 7px 3px hsl(358, 90%, 63%);
    }
    96% {
        text-shadow: 1px 5px hsl(252, 100%, 50%), -20px 5px hsl(358, 90%, 63%);
    }
    97% {
        text-shadow: -10px -2px hsl(252, 100%, 50%), 2px 3px hsl(358, 90%, 63%);
    }
    98% {
        text-shadow: 3px 1px hsl(252, 100%, 50%), -2px 5px hsl(358, 90%, 63%);
    }
    99% {
        text-shadow: 1px 2px hsl(252, 100%, 50%), -2px -3px hsl(358, 90%, 63%);
    }
    
} */

@keyframes burn-shake {
    0% {
        text-shadow: -0px -0px hsl(252, 100%, 50%), 0px 0px hsl(358, 90%, 63%);
    }
    11% {
        text-shadow: -0px -0px hsl(252, 100%, 50%), 0px 0px hsl(358, 90%, 63%);
    }
    12% {
        text-shadow: -5px -5px hsl(252, 100%, 50%), 5px 5px hsl(358, 90%, 63%);
    }
    13% {
        text-shadow: -4px -1px hsl(252, 100%, 50%), 2px 1px hsl(358, 90%, 63%);
    }
    14% {
        text-shadow: -2px -1px hsl(252, 100%, 50%), 4px 7px hsl(358, 90%, 63%);
    }
    15% {
        text-shadow: 3px 1px hsl(252, 100%, 50%), 2px 3px hsl(358, 90%, 63%);
    }
    16% {
        text-shadow: -1px -3px hsl(252, 100%, 50%), 7px 3px hsl(358, 90%, 63%);
    }
    17% {
        text-shadow: 1px 5px hsl(252, 100%, 50%), -20px 5px hsl(358, 90%, 63%);
    }
    18% {
        text-shadow: -10px -2px hsl(252, 100%, 50%), 2px 3px hsl(358, 90%, 63%);
    }
    19% {
        text-shadow: 3px 1px hsl(252, 100%, 50%), -2px 5px hsl(358, 90%, 63%);
    }
    20% {
        text-shadow: 1px 2px hsl(252, 100%, 50%), -2px -3px hsl(358, 90%, 63%);
    }
    21% {
        text-shadow: -0px -0px hsl(252, 100%, 50%), 0px 0px hsl(358, 90%, 63%);
    }
    
}

@keyframes shake-bell {
    91% {
        transform: rotate(25deg);
    }

    92% {
        transform: rotate(45deg);
    }

    93% {
        transform: rotate(25deg);
    }

    94% {
        transform: rotate(0deg);
    }

    95% {
        transform: rotate(-25deg);
    }

    96% {
        transform: rotate(-45deg);
    }

    97% {
        transform: rotate(-25deg);
    }

    98% {
        transform: rotate(0deg);
    }
}